*{
    margin:0;
    padding: 0;
    font-family: 'Bree Serif', serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #491330, #6e1745, #95185b, #bf166f, #eb0b83);

}

.titulo{
    font-family: 'Shadows Into Light', cursive;
    color: #DBD2E0;
    font-style: none;

}

.box{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    padding:  10px 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.box div a{
    text-decoration: none;
}

.box div ul li{
    list-style: none;
}

.menu-link{
    text-decoration: none;
    font-style: none;
    color: #DBD2E0;
    margin-left: 65px;
    font-size: 17px;
}
.menu-link:hover{
    color:#fff;
    border-bottom: #6e1745 2px solid;
}
.boxmenu ul{
    display:flex;
}